.self-img{
    height: 650px;
    width: auto;
    margin-left: 38%;
    z-index: 1;
    position: absolute;
}

.title{
    font-size: 350px;
    color: white;
    opacity: 50%;
    margin-top: 25%;
    margin-left: 15%;
    z-index: 0;
    position: absolute;
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.scroll-bar{
    width: 200vw;
    background-color: black;
    height: 200px;
    top: 70%;
    position:absolute;
    overflow: hidden;
  }
  
  @keyframes scroll {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  
  .bar-animate {
    animation: scroll 30s linear infinite;
    width: 200%;
    display: flex;
  }
  
  .scroll-bar-content{
    display: flex;
    color: white;
    opacity: 50%;
    justify-items: flex-start;
    font-size: 100px;
    width: 200%;
    margin-top: 50px;
    font-family: 'Hurricane', cursive;
    margin-left: 100px;
    width: 300px;
  }

  @media only screen and (max-width: 480px) {
    /* styles for devices with a maximum screen width of 480px */
     /* styles for devices with a maximum screen width of 480px */
     .self-img{
      height: 300px;
      width: auto;
      margin-left: 25%;
      margin-top: 15%;
      z-index: 1;
      position: absolute;
    }

    .title{
      font-size: 100px;
      margin-top: 70%;
      margin-left: 5%;
    }

    .scroll-bar{
      width: 200vw;
      height: 100px;
      top: 50%;
    }

    .scroll-bar-content{
      display: flex;
      font-size: 50px;
      width: 200%;
      margin-top: 10px;
      font-family: 'Hurricane', cursive;
      margin-left: 50px;
      width: 200px;
    }
  
  }
  
  @media only screen and (max-width: 480px) and  (min-height: 800px) {
    /* styles for devices with a maximum screen width of 480px */
    .self-img{
      height: 300px;
      width: auto;
      margin-left: 25%;
      margin-top: 15%;
      z-index: 1;
      position: absolute;
    }

    .title{
      font-size: 100px;
      margin-top: 70%;
      margin-left: 5%;
    }

    .scroll-bar{
      width: 200vw;
      height: 100px;
      top: 50%;
    }

    .scroll-bar-content{
      display: flex;
      font-size: 50px;
      width: 200%;
      margin-top: 10px;
      font-family: 'Hurricane', cursive;
      margin-left: 50px;
      width: 200px;
    }
  
  }