.description-R1{
    font-size: 110px;
    margin: 100px;
    margin-bottom: 0px;
    width: 400px;
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
}

.img-ss-r1{
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    width: 900px;
    height: auto;
}


@media only screen and (max-width: 500px) {
    .description-R1{
        font-size: 15px;
        margin: 10px;
        width: 340px;
    }

    .img-ss{
        width: auto;
        height: 180px;
        margin-top: 10px;
        margin-left: 10px;
    }
}