.c-w-c{
    margin: 10px;
    padding: 0px;
}

.arrow-cwc{
    margin: 0px;
    margin-top: 150px;
}
.copewithcovid{
    margin: 10px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.cwc{
    font-size: 100px;
    font-family: 'Cormorant Garamond', serif;
}



.arrow-down{
    padding:0px;
    margin:0px;
    margin-top: 600px;
    margin-bottom: 100px;  
    text-align: center;
}

.img-ad{
    width: 70px;
    height: auto;
}



@media only screen and (max-width: 1300px) {
    .copewithcovid{
        margin-top: 300px;
    }
    
    .cwc{
        font-size: 160px;
        text-align: center;
    }

    .arrow-down{
        margin-top: 200px;
    }

    .img-ad{
        width: 70px;
        height: auto;
    }
    
}

@media only screen and (max-width: 800px) {
    
    .copewithcovid{
        margin-top: 10px;
    }
    
    .cwc{
        font-size: 100px;
        text-align: center;
    }

    .arrow-down{
        margin-top: 200px;
    }

    .img-ad{
        width: 40px;
        height: auto;
    }

    
}

@media only screen and (max-width: 500px) {
    
    .copewithcovid{
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    
    .cwc{
        font-size: 70px;
        text-align: center;
    }

    .arrow-down{
        margin-top: 200px;
    }

    .img-ad{
        width: 40px;
        height: auto;
    }
    
}