.menu-component{
    font-family: 'Forum', cursive;    
}

.menu-component-opt{
  z-index: 0;
  position: absolute;
  margin-top: 2%;
  margin-left: 10%;
}

.menu-component-options-home, .menu-component-options-about, .menu-component-options-projects, .menu-component-options-blog,.menu-component-options-contact{
  font-size: 90px;
  margin-left: 15%;
  margin-top: 5px;
}

.footer{
  font-size: 15px;
  width: 500px;
}
  