.about-component{
  font-family: 'Forum', cursive;
  color: white;
}

.trunk-alt{
  margin-left: 33%;
  margin-top: 6%;
  z-index: -100;
  position: absolute;
  font-family: 'Forum', cursive;
  opacity: 10%;
}

/*About Titles*/
.about-title-1{
  font-size: 300px;
  text-align: center;
}

.about-title-2{
  font-size: 200px;
  text-align: center;
  opacity: 60%;
}

.about-title-3{
  font-size: 100px;
  text-align: center;
  opacity: 30%;
}

.about-strike{
  height: 100px;
  width: 1px;
  border: 2px white solid;
  text-align: center;
  margin-left: 50%;
  margin-top: 2%;
}


@media only screen and (max-width: 480px) {
  /* styles for devices with a maximum screen width of 480px */

  .about-component{
    margin-top: 50%;
  }


  .about-title-1{
    font-size: 100px;
  }

  .about-title-2{
    font-size: 70px;
  }

  .about-title-3{
    font-size: 40px;
  }

  .trunk-alt{
    margin-left: -50px;
  }

}

@media only screen and (max-width: 480px) and  (min-height: 800px) {
  /* styles for devices with a maximum screen width of 480px */


}