.landingPage{
    font-family: 'Tenor Sans', sans-serif;
  }
  
  .first-name, .last-name{
    margin-left: 3%;
    font-size: 200px;
  }
  
  .last{
    display: flex;
    align-items: center;
  }
  
  .desc{
    margin-top: 3%;
    font-size: 20px;
    margin-left: 2%;
  }
  
  .hr{
    margin-top: 10%;
    display: block;
    height: 3px;
    border-top: black 3px solid;
    width: 300px;
  }
  
  .newsletter{
    margin-left: 10%;
    margin-top: 3px;
    height: 80%;
    width: auto;
  }
  
  .page-list{
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    width: 100vw;
    justify-content: center;
  }
  
  .page-list-box{
    width: 300px;
    height: 200px;
    font-family: 'Tenor Sans', sans-serif;
  }
  
  .page-list-num{
    font-size: 40px;
    cursor: pointer;
  }

  @media only screen and (max-width: 480px) {
    /* styles for devices with a maximum screen width of 480px */
    .first-name{
      margin-left: 5%;
      padding-top: 5%;
      font-size: 60px;
    }

    .last-name{
      margin-left: 5%;
      font-size: 60px;
      padding-top: 4%;
    }

    .desc{
      margin-top: 10%;
      font-size: 20px;
      margin-left: 5%;
    }

    .last{
      display: block;
    }

    .newsletter{
      margin-left: 5%;
      margin-top: 3px;
      height: 50%;
      width: auto;
    }

    .hr{
      display: none;
    }

    .page-list{
      display: none;
    }
    
  }
  
  @media only screen and (min-height: 800px) and (max-width: 480px) {
    /* styles for devices with a maximum screen width of 480px */
    
  
  }