.pg-accolades{
    width: 85%;
    margin: auto;
    margin-top: 25%;
    
  }
  
  .acco-label{
    margin-bottom: 7%;
    font-size: 200px;
  
  }
  
  .acco-nums{
    margin-bottom: 7%;
  }
  
  .acco-nums-1,.acco-nums-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    width: 350px;
  }
  
  .num{
    font-size: 110px;
  }
  
  .num-context{
    width: 400px;
    font-size: 20px;
  }
  
  .cert-label{
    margin-bottom: 7%;
    font-size: 20px;
  }
  
  .certs{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cert-img{
    width: 120px;
    height: auto;
    cursor: pointer;
  }  



  @media only screen and (max-width: 480px) {
    /* styles for devices with a maximum screen width of 480px */

    .acco-label{
      margin-bottom: 7%;
      font-size: 60px;
    
    }

    .num{
      font-size: 30px;
    }

    .num-context{
      width: 200px;
      font-size: 10px;
    }

    .cert-label{
      font-size: 15px;
    }

    .cert-img{
      width: 20px;
      height: auto;
      cursor: pointer;
    }  


  }