.current{
    width: 100vw;
    font-family: Forum;
    z-index: 1;
}

.current-title {
    font-size: 280px;
    margin-left: 8%;
    color: white;
    opacity: 50%;
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.current-role{
    margin-top: 6%;
    margin-left: 10%;
    width: 40%;
}

.current-role-title{
    font-size: 35px;
    color: white;
}

.current-role-content{
    width: 90%;
    font-size: 25px;
    color: white;
    opacity: 50%;
    margin-top: 15px;
}

.current-role-content-span-1{
    color: white;
    opacity: 100%;
}

@media only screen and (max-width: 480px) and  (min-height: 800px) {
    /* styles for devices with a maximum screen width of 480px */
    .current-role{
        width: 70%;
    }

    .current-title{
        font-size: 60px;
    }

    .current-role-title{
        font-size: 18px;
    }

    .current-role-content{
        width: 90%;
        font-size: 12px;
    }  
  
  }