.work{
    display: flex;
    align-items: center;
}
.sidebar-projects{
    margin: 10%
}

.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
    font-size: 20px;
    width: 200px;
}

.vl {
    border-top: 3px solid rgb(0, 0, 0);
    width: 30px;
    margin: 20px;
}

.work-viewport{
    margin: 10%;
    margin-top: 5%;
    width: 40%;
}
