.home-text{
  font-size: 80px;
  z-index: 1000;
  width: 20%;
  margin-top: 8%;
  margin-left: 8%;
  position: absolute;
  mix-blend-mode: difference;
  color: rgb(255, 255, 255); 
  font-family:'Cormorant Garamond', serif;
}

.home-text-sub{
  font-size: 20px;
  margin-top: 10px;
  width: 100%;
}
