.aboutMe{
color: antiquewhite;
font-family: 'Cormorant Garamond', serif;
font-family: 'Poppins', sans-serif;
margin: 5%;
font-size: 130px;
font-weight: 1000;
}

.image{
z-index: -10;
position: absolute;
width: 50%;
height: auto;
margin-left: 40%;
}

@media only screen and (max-width: 440px){

    .aboutMe{
        font-size: 60px;
    }
}
  
  @media only screen and (max-width: 840px){
  

  }
  
  @media only screen and (max-width: 1100px){
  

  }
  