.home-link{
    top: 4%;
    left: 2%;
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Tenor Sans', sans-serif;

}

.about-card{
    width: 100vw;
    height: 400vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Tenor Sans', sans-serif;
}

.about-nav{
    width: 70vw;
    height: 400vh; 
    position: fixed;
    margin-left: 6%;
    display: flex;
    justify-content: space-evenly;
}

.about-nav-op{
    margin-top: 20%;
    cursor: pointer;
    font-size: 15px;
}

.about-pages{
    margin-left: 30%;
}

.self-img{
    width: 30vw;
    height: auto;
    margin-left: 10%;
}

.about-background{
    z-index: -100;
    position: absolute;
    font-size: 320px;
    top: 25%;
    left: 15%;
}


@media only screen and (max-width: 480px) {
    /* styles for devices with a maximum screen width of 480px */
    .about-nav{
        width: 70vw;
        margin-left: 5%;
    }

    .about-nav-op{
        margin-top: 40%;
        font-size: 11px;
    }

    .about-pages{
        margin-left: 25%;
    }
    
    .div-about{
        margin-top: 590%;
    }
    
    .div-projects{
        margin-top: 140%;
    }
    
    .div-research{
        margin-top: 140%;
        margin-bottom: 140%;
    }

    .about-begin{
        margin-top: 40%;
    }

    .about-background{
        font-size: 90px;
        left: 10%;
    }

    .self-img{
        width: 50vw;
        height: auto;
        margin-left: 1%;
        margin-top: 100%;
    }
    
}
  
  @media only screen and (min-height: 800px) and (max-width: 480px) {
    /* styles for devices with a maximum screen width of 480px */
  
}