.about{
    width: 100vw;
    height: 100vh;
    font-family: 'Forum', cursive;
    overflow: scroll;
}

.aboutMe-content{
  display: flex;
  margin-left: 5%;
}

.aboutMe-content-text{
  margin: 5%;
  margin-top: 10%;
  text-align: right;
}

.aboutMe-title{
  font-size: 100px;
  font-weight: 500;
  margin-top: 30%;
  margin-left: 10%;
}

.aboutMe-span{
  font-size: 18px;
  margin-top: 5%;
  text-align: right;
}

.invictus{
  margin-top: 30px;
}

.self-image{
  margin: 10%;
}
