.about{
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Forum', cursive;
  }

.content-about{
  margin-left: 3%;
}

.about-components{
  width: 50%;
  margin-top: 10%;
}

/*Responsive Screen CSS*/
@media only screen and (min-width: 1500px) {
  .about-components{
    width: 50%;
    margin-top: 15%;
  }
}