.home-link{
    top: 4%;
    left: 2%;
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Tenor Sans', sans-serif;

}

.about-card{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Tenor Sans', sans-serif;
}

.about-nav{
    width: 40vw;
    height: auto; 
    position: fixed;
    margin-left: 10%;
}

.about-nav-op{
    margin-top: 10%;
    cursor: pointer;
}

.about-pages{
    margin-left: 30%;
}

.div-about{
    margin-top: 190%;
}

.div-projects{
    margin-top: 40%;
}

.div-research{
    margin-top: 40%;
    margin-bottom: 30%;
}

@media only screen and (max-width: 480px) {
    /* styles for devices with a maximum screen width of 480px */
    .about-nav{
        width: 20vw;
        margin-left: 5%;
    }

    .about-nav-op{
        margin-top: 40%;
        font-size: 11px;
    }

    .about-pages{
        margin-left: 25%;
    }
    
    .div-about{
        margin-top: 590%;
    }
    
    .div-projects{
        margin-top: 140%;
    }
    
    .div-research{
        margin-top: 140%;
        margin-bottom: 140%;
    }
    
}
  
  @media only screen and (min-height: 800px) and (max-width: 480px) {
    /* styles for devices with a maximum screen width of 480px */
  
}