.description-cwc{
    width: 400px;
    margin: 0px;
    padding: 0px;
    margin: 100px;
    margin-bottom: 30px;
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
}

.img-ss{
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    width: 900px;
    height: auto;
}

.link{
    cursor: pointer;
}

@media only screen and (max-width: 1300px) {
    .description-cwc{
        font-size: 35px;
    }

    .ss-cwc{
        margin-top: 5px;
        text-align: center;
    }

    .img-ss{
        width: auto;
        height: 400px;
    }
}

@media only screen and (max-width: 800px) {
    .description-cwc{
        font-size: 35px;
        width: 400px;
    }

    .ss-cwc{
        margin-top: 5px;
    }

    .img-ss{
        width: auto;
        height: 600px;
    }
}

@media only screen and (max-width: 500px) {
    .description-cwc{
        width: 340px;
        font-size: 15px;
        margin: 10px;
    }

    .img-ss{
        width: auto;
        height: 180px;
        margin-top: 10px;
        margin-left: 10px;
    }
}

