.label{
    font-size: 12px;
}

.research{
    width: 40%;
    color: antiquewhite;
    margin: 10%;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Poppins', sans-serif;
    
}


.label-Desc, .label-achievements{
    font-size: 15px;
}


@media only screen and (max-width: 440px){

    .research{
        font-size: 13px;
        width: 80%;
    }

    .label{
        font-size: 8px;
    }
    
    .label-Desc, .label-achievements{
        font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 840px){
  

  }
  
  @media only screen and (max-width: 1100px){
  

  }
  