.home{
  color: #FFFFFF;
  font-family: 'Forum', cursive;
}

.title-home{
  font-size: 80px;  
  margin: auto;
  text-align: center;
}

.sub-title-home{
  font-size: 30px;  
  opacity: 50%;
  margin: auto;
  text-align: center;
}

img{
  margin-top: 20px;
}

.sub-sub-title-home{
  font-size: 30px;  
  margin: auto;
  text-align: center;
  margin-top: 15%;
}

.home-content{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-family: 'Forum', cursive;
}

.social-media-buttons{
  margin-left: 2%;
  margin-top: 10%;
}

.social-media-icons{
  margin-right: 60%;
}

.trunk{
  position: absolute;
  z-index: -10;
  width: 300px;
  height: 300px;
  margin-left: 32%;

}

.label-icons{
  font-size: 35px;
}

.labels-hp{
  margin-top: 15px;
  margin-right: 25px;
}



