.home{
  color: #FFFFFF;
  font-family: 'Forum', cursive;
}

.title-home{
  font-size: 80px;  
  margin: auto;
  text-align: center;
}

.sub-title-home{
  font-size: 30px;  
  opacity: 50%;
  margin: auto;
  text-align: center;
}

img{
  margin-top: 20px;
}

.sub-sub-title-home{
  font-size: 30px;  
  margin-top: 13%;
  text-align: center;
}

.home-content{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-family: 'Forum', cursive;
}

.social-media-buttons{
  margin-left: 2%;
  margin-top: 5%;
}

.social-media-icons{
  margin-right: 60%;
  margin-top: 60px;
}

.icon-1{
  margin-top: 0px;
}

.icon-2, .icon-3{
  margin-top: 120px;
}

.trunk{
  position: absolute;
  z-index: -2000;
  margin-top: -10%;

}

.label-icons{
  font-size: 25px;
}


.labels-hp{
  margin-right: 25px;
}


@media only screen and (max-width: 480px) {
  /* styles for devices with a maximum screen width of 480px */
  .title-home{
    font-size: 40px;  
    margin-top: 50px;
  }

  .sub-title-home{
    font-size: 20px;  
  }

  .sub-sub-title-home{
    margin-top: 100%;
    font-size: 20px;  
  }


  .social-media-buttons, .label-icons{
    display: none;
  }

  .trunk{
    position: absolute;
    z-index: -2000;
    margin-top: -43%;
  }


}

@media only screen and (max-width: 480px) and  (min-height: 800px) {
  /* styles for devices with a maximum screen width of 480px */

  .trunk{
    position: absolute;
    z-index: -2000;
    margin-top: -43%;
  }

}