.contact{
    font-family: 'Tenor Sans', sans-serif;
}

.contact-title{
    font-size: 60px;
    padding: 2%;
    margin-left: 2%;
}

.contact-op{
    margin-left: 10%;
    margin-top: 3%;
    cursor: pointer;
}