.description-R{
    width: 300px;
    margin: 0px;
    padding: 0px;
    margin: 100px;
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
}

.ss-jou{
    margin-top: 100px;
    width: 900px;
    height: auto;
}