.research3{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.res3{
    font-size: 100px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

.arrow-down{
    padding:0px;
    margin:0px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 300px;
    
}

@media only screen and (max-width: 1300px) {
    .research3{
        margin-top: 300px;
    }
    
    .res3{
        font-size:100px;
        text-align: center;
    }

    .arrow-down{
        margin-top: 200px;
    }

    .img-ad{
        width: 70px;
        height: auto;
    }
}

@media only screen and (max-width: 800px) {
    .research3{
        margin-top: 200px;
    }
    
    .res3{
        font-size: 80px;
        text-align: center;
    }

    .arrow-down{
        margin-top: 200px;
    }
    
}

@media only screen and (max-width: 500px) {
    
    .research3{
        margin-top: 100px;
    }
    
    .res3{
        font-size: 50px;
        text-align: center;
    }

    .arrow-down{
        margin-top: 100px;
    }

    .img-ad{
        width: 40px;
        height: auto;
    }

    .p-arrow{
        width: 40px;
    }

    
}