.scroller{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    color: white;
}

.children{
    display: block;
    margin-right: 30px;
}

@media only screen and (max-width: 480px) {
    /* styles for devices with a maximum screen width of 480px */
    .scroller{
        font-size: 32px;
    }

  }