.about{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

.self{
    height: 700px;
    width: auto;
}

.about-me{
    width: 600px;
    margin-left: 30px;
}

.about-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 70px;
    line-height: 85px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
}

.about-1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}




@media only screen and (max-width: 1440px) {
    .name,.sname{
      font-size: 140px;
    }
    .name{
      margin-left: 100px
    }
   .name-p2{
      padding-left: 80px;
   }
    .desig-list{
      font-size: 32px;
    }
  
    .vl{
      height: 140px;
    }

    .projects{
      margin-left: 120px;
    }
  }

  @media only screen and (max-width: 1200px) {
    
    .about-title{
        
        font-size: 50px;
    }

    .about-1{
        
        font-size: 15px;
    }

    .self{
        margin-left: 30px;
        height: 600px;
        width: auto;
    }
        

  }


  @media only screen and (max-width: 800px) {
    
    .about-title{
        
    }

    .about-1{
        
    }

    .self{
      margin-left: 30px;
  }
        

  }


  @media only screen and (max-width: 500px) {
    .self{
        margin-left: 30px;
        height: 300px;
        width: auto;
    }
    
    .about-title{
        font-weight: 100;
        font-size: 60px;
        margin-left: 30px;
    }

    .about-1{
        font-size: 10px;
        margin-right: 10px;
        margin-left: 30px;
    }

    .about-me{
      margin-left: 0px;
      margin-bottom: 20px;
    }
        
    
  }
  