.App{
  width: 100vw;
  height: 100vh;
  font-size: 25px;
  font-family: 'Tenor Sans', sans-serif;
  margin-left: 20%;
  margin-top: 10%;
}

.menu-top{
  top: 4%;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  font-size: 20px;
  font-family: 'Tenor Sans', sans-serif;
  cursor: pointer;
  margin-right: 2%;
}

.menu-op{
  margin-left: 2%;
  margin-right: 2%;
}

.loaderTransition-enter{
  opacity: 0;
}

.loaderTransition-enter-active{
  opacity: .5;
  transition: opacity 300ms ease-in;
}

.loaderTransition-enter-done{
  opacity: 1;
}

.loaderTransition-exit{
  opacity: 1;
}

.loaderTransition-exit-active{
  opacity: .5;
  transition: opacity 300ms ease-out;
}

.loaderTransition-exit-done{
  opacity: 0;
}


@media only screen and (max-width: 480px) {
  /* styles for devices with a maximum screen width of 480px */
  

  
}

@media only screen and (min-height: 800px) and (max-width: 480px) {
  /* styles for devices with a maximum screen width of 480px */


}