.nav{
  margin: 2%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav-content{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Poppins', sans-serif;
  color: #d5d0ca;
}

.nav-point{
  color: #d5d0ca;
}

.nav-point-menu{
  font-size: 14px;
  margin-left: 30px;
  margin-right: 30px;
  color:#d5d0ca;
}


.logo-name{
  font-size: 20px;
  justify-self:left
}

.view{
  align-items: center;
  width: 95%;
  height: 80vh;
  border: 3px solid rgba(0, 0, 0, 0.171);
  background-color: rgb(73, 73, 73);
  
}

.dot {
  height: 12px;
  width: 12px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}

.underline{
  width: 100%;
  height: 0.5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  visibility: hidden;
}

.about-opt:hover .underline, .project-opt:hover .underline, .blog-opt:hover .underline, .contact-opt:hover .underline {
  animation: flow-in .5s ease;
  visibility: visible;
}

.about-opt:not(:hover) .underline, .project-opt:not(:hover) .underline, .blog-opt:not(:hover) .underline, .contact-opt:not(:hover) .underline{
  animation: flow-out .5s ease;
  visibility: hidden;
}

@keyframes flow-in {
  0%{
    width: 0px;
  }

  100%{
    width: 60px;
  }
  
}

@keyframes flow-out {
  0%{
    width: 60px;
  }

  100%{
    width: 0px;
  }
  
}

.line1, .line2{
  width: 70px;
  height: 2px;
  border: 1.5px solid #d5d0ca;
  border-radius: 5px;
  margin-top: 5px;
}

.line2{
  margin-left: 20px;
}

.menu-page:hover .line1{
  transition: all 0.5s ease;
  transform: translateX(20px);
}

.menu-page:hover .line2{
  transition: all 0.5s ease;
  transform: translateX(-20px);
}

.menu-page:not(:hover) .line2{
  transition: all 0.5s ease;
  transform: translateX(0px);
}



.loaderTransition-enter{
  opacity: 0;
}

.loaderTransition-enter-active{
  opacity: .5;
  transition: opacity 300ms ease-in;
}

.loaderTransition-enter-done{
  opacity: 1;
}

.loaderTransition-exit{
  opacity: 1;
}

.loaderTransition-exit-active{
  opacity: .5;
  transition: opacity 300ms ease-out;
}

.loaderTransition-exit-done{
  opacity: 0;
}


.menu{
  color: rgb(255, 255, 255);
  display: flex;
  font-family: 'Anton', sans-serif;
  font-size: 60px;
}

.menu-options{
  margin-left: 20%;
}

.menu-opt{
  margin: 30px;
}

.menu-opt:hover{
  transform: translate(42px, 18px);
  transition: 1s;
}

.menu-opt:not(:hover){
  transform: translate(18px, 42px);
  transition: 900ms;
}


@media only screen and (max-width: 440px){

  .nav{
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .inner-nav{
    display: none;
  }

  .nav-point.logo-name{
    font-size: 20px;
  }

  #line1.line1, #line2.line2{
    width: 60px;
    height: 0px;
    border: 2px w;
  }

  .logo-name{
    font-size: 10px;
  }
}

@media only screen and (max-width: 840px){

  .nav{
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .inner-nav{
    display: none;
  }

  .nav-point{
    font-size: 30px;
  }

  .line1, .line2{
    width: 100px;
    height: 0px;
    border: 2px solid rgb(255, 255, 255);
  }
}

@media only screen and (max-width: 1100px){

  .nav{
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .inner-nav{
    display: none;
  }

  .nav-point{
    font-size: 30px;
  }

  .line1, .line2{
    width: 100px;
    height: 0px;
    border: 2px solid rgb(255, 255, 255);
  }
}
