.App{
  width: 100vw;
  height: 100vh;
}

.menu-top, .menu-bottom{
  z-index: 10;
  position: absolute;
  font-size: 20px;
  font-family:'Noto Sans Khmer', sans-serif;
}

.menu-top{
  top: 4%;
  right: 2%;
}

.landing-page{
  margin-top: 4%;
}

.first-name, .last-name{
  margin-left: 3%;
  font-size: 150px;
}

.last{
  display: flex;
  align-items: center;
}

.desc{
  margin-top: 3%;
  font-size: 25px;
  margin-left: 2%;
}

.hr{
  margin-top: 10%;
  display: block;
  height: 3px;
  border-top: black 3px solid;
  width: 300px;
}

.menu-bottom{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  bottom: 3%;
}



.op-blog{
  margin-left: 3%;
}

.op-contact{
  margin-right: 3%;
}