body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  overflow: hidden;
  overscroll-behavior: none;
}

.dot-background{
  border-radius: 10px;
  opacity: 0.8;
  background-image:  radial-gradient(#000000 0.5px, transparent 0.8px), radial-gradient(#ffffff 1px, #cecece 1px);
  background-size: 10px 10px;
  background-position: 0 0,10px 10px;
  z-index: -100;
  position: absolute;
  height: 85%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: #000000;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

@media only screen and (max-width: 420px){
  .dot-background{
    border-radius: 10px;
    opacity: 0.8;
    background-image:  radial-gradient(#000000 0.5px, transparent 0.1px), radial-gradient(#ffffff 0.6px, #d1d1d1 1px);
    background-size: 10px 10px;
    background-position: 0 0,10px 10px;
    z-index: -100;
    position: absolute;
    height: 85%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  
  }
}

