.currentRole{
    width: 40%;
    color: antiquewhite;
    margin: 10%;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Poppins', sans-serif;
    
}

.label-currentRole{
    font-size: 12px;
}

.label-currentRole-Desc{
    font-size: 15px;
}

@media only screen and (max-width: 440px){

    .currentRole{
        font-size: 13px;
        width: 80%;
    }

    .label-currentRole{
        font-size: 8px;
    }
    
    .label-currentRole-Desc{
        font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 840px){
  

  }
  
  @media only screen and (max-width: 1100px){
  

  }
  